html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  body {
    font-family: $primary-font;
    background-color: $primary-bg-color;
    color: $primary-color;
  }
  img {
    display: block;
    max-width: 100%;
  }
  