// Team section
.team {
    @extend %section;
    background-color: $secondary-bg-color;
  }
  .team__container {
    @extend %container;
  }
  .team__subtitle {
    @extend %subtitle;
  }
  .worker-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .worker-list__item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: $additional-color;
    padding-bottom: 30px;
  }
  .worker-list__name {
    color: $secondary-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .team__name {
    margin: 30px 0 10px;
  }
  .worker-list__position {
    margin: 0;
    font-size: 16px;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .worker-list__social-list{
    margin-top: 16px;
  }