%visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  %link {
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  %list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  %container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  %section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  %subtitle {
    margin-top: 0;
    margin-bottom: 50px;
    color: $secondary-color;
    font-size: 36px;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    text-align: center;
  }