$primary-bg-color: #ffffff;
$accent-bg-color: #2f303a;
$secondary-bg-color: #f5f4fa;

$btn-color: #f5f4fa;
$link-coolor: #afb1b8;

$primary-color: #757575;
$secondary-color: #212121;
$accent-color: #2196f3;
$additional-color: #ffffff;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;